target/
**/*.rs.bk

/VM_TESTS/
/malmathic-case/
**/malmathic-case/
/case/
/cases/

*.vmdk
*.vmsd
*.vmx
*.vdi
*.img
*.raw
*.dd
*.E01
*.lzxcapture
*.mmcap

__pycache__/
*.py[cod]
*.pyd
*.whl
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.vs/
.vscode/
.idea/
*.swp
Thumbs.db
desktop.ini
